<component name="ArtifactManager">
  <artifact type="war" name="springmvcWebDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcWebDemo.war">
      <element id="artifact" artifact-name="springmvcWebDemo:war exploded" />
    </root>
  </artifact>
</component>